.wrapper-nav-bar {
  display: none;
}

.wrapper-body {
  padding-top: 30px;
  padding-left: 40px;
}

.wrapper-profile-image {
  float: left;
}

.img-blurred-background {
  display: none;
}

.img-profile {
  width: 200px;
  height: 200px;
  margin-right: 30px;
}

.img-speech {
  width: 300px;
  border-radius: 16px;
}

.wrapper-info {
  margin-left: 260px;
}

.activity-icon {
  margin-right: 10px;
}

