.wrapper-body {
  padding-top: 30px;
  padding-left: 40px;
}

.img-profile {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.info-title {
  text-align: right;
  margin-top: 40px;
  margin-right: 40px;
}

.wrapper-profile-image {
  width: 100%;
  text-align: center;
}