.wrapper-body {
  padding-top: 30px;
  padding-left: 40px;
}

.img-profile {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 30px;
}

.wrapper-info {
  margin-left: 260px;
}

.info-section {
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
}
